{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "supplierManage-api"
    },
    "host": "n2.sogaworks.com:19090",
    "basePath": "/",
    "tags": [
        {
            "name": "supplier-address-info-controller",
            "description": "\u4f9b\u5e94\u5546\u6536\u8d27\u4fe1\u606f@author tjdeng"
        },
        {
            "name": "supplier-contact-info-controller",
            "description": "\u4f9b\u5e94\u5546\u8054\u7cfb\u65b9\u5f0f\u8868@author tjdeng"
        },
        {
            "name": "supplier-invoice-information-controller",
            "description": "\u4f9b\u5e94\u5546\u5f00\u7968\u4fe1\u606f@author tjdeng"
        },
        {
            "name": "\u4f9b\u5e94\u5546",
            "description": "\u4f9b\u5e94\u5546"
        },
        {
            "name": "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b",
            "description": "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b"
        },
        {
            "name": "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b\u5173\u7cfb\u8868",
            "description": "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b\u5173\u7cfb\u8868"
        },
        {
            "name": "\u4f9b\u5e94\u5546\u65e5\u5fd7",
            "description": "\u4f9b\u5e94\u5546\u65e5\u5fd7"
        },
        {
            "name": "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f\uff08\u738b\u536b\uff09",
            "description": "\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f"
        },
        {
            "name": "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u8ba4\u8bc1\u4fe1\u606f\uff08\u738b\u536b\uff09",
            "description": "\u4f9b\u5e94\u5546\u8ba4\u8bc1\u4fe1\u606f"
        },
        {
            "name": "\u8bbe\u5907\u53c2\u6570\u8868",
            "description": "\u8bbe\u5907\u53c2\u6570\u8868"
        },
        {
            "name": "\u8bbe\u5907\u8868",
            "description": "\u8bbe\u5907\u8868"
        }
    ],
    "paths": {
        "/supplier": {
            "get": {
                "tags": [
                    "\u4f9b\u5e94\u5546"
                ],
                "summary": "\u6839\u636eid\u67e5\u8be2\u4f9b\u5e94\u5546\u72b6\u6001\u4fe1\u606f",
                "operationId": "getSupplierByIdUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSupplierDTO\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSupplierDTO\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-address-info": {
            "get": {
                "tags": [
                    "supplier-address-info-controller"
                ],
                "summary": "\u901a\u8fc7\u4f9b\u5e94\u5546id\u67e5\u8be2\u4f9b\u5e94\u5546\u6536\u8d27\u4fe1\u606f",
                "operationId": "getSupplierContactInfoBySupplierIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSmAddressInfoDTO\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSmAddressInfoDTO\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "supplier-address-info-controller"
                ],
                "summary": "\u65b0\u589e\u4f9b\u5e94\u5546\u6536\u8d27\u4fe1\u606f",
                "operationId": "createUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "addressInfoVO",
                        "description": "addressInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SmAddressInfoVO",
                            "$ref": "#/definitions/SmAddressInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "supplier-address-info-controller"
                ],
                "summary": "\u66f4\u65b0\u4f9b\u5e94\u5546\u6536\u8d27\u4fe1\u606f",
                "operationId": "updateUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "addressInfoVO",
                        "description": "addressInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SmAddressInfoVO",
                            "$ref": "#/definitions/SmAddressInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-base-infos": {
            "get": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f\uff08\u738b\u536b\uff09"
                ],
                "summary": "\u6839\u636eid\u67e5\u8be2\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f",
                "operationId": "getSupplierBaseInfoBySupplierIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSupplierBaseInfoDTO\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSupplierBaseInfoDTO\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f\uff08\u738b\u536b\uff09"
                ],
                "summary": "\u65b0\u589e\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f",
                "operationId": "addSupplierBaseInfoUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "supplierBaseInfoVO",
                        "description": "supplierBaseInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierBaseInfoVO",
                            "$ref": "#/definitions/SupplierBaseInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f\uff08\u738b\u536b\uff09"
                ],
                "summary": "\u4fee\u6539\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f",
                "operationId": "updateSupplierBaseInfoByIdUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "supplierBaseInfoVO",
                        "description": "supplierBaseInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierBaseInfoVO",
                            "$ref": "#/definitions/SupplierBaseInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-base-infos/check-status": {
            "put": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f\uff08\u738b\u536b\uff09"
                ],
                "summary": "\u63d0\u4ea4\u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606f--\u5ba1\u6838 id \u4f9b\u5e94\u5546\u57fa\u672c\u4fe1\u606fid",
                "operationId": "submitSupplierBaseInfoByIdUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-certification-infos": {
            "get": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u8ba4\u8bc1\u4fe1\u606f\uff08\u738b\u536b\uff09"
                ],
                "summary": "\u67e5\u8be2\u5f53\u524d\u4f9b\u5e94\u5546\u7684\u8ba4\u8bc1\u4fe1\u606f",
                "operationId": "getCertificationInfoUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abDictItemTreeStructureDTO\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abDictItemTreeStructureDTO\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-certification-infos/batch": {
            "post": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u8ba4\u8bc1\u4fe1\u606f\uff08\u738b\u536b\uff09"
                ],
                "summary": "\u6279\u91cf\u4fdd\u5b58\u8ba4\u8bc1",
                "operationId": "saveSupplierCertificationInfoUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "supplierCertificationInfoVOList",
                        "description": "supplierCertificationInfoVOList",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "originalRef": "SupplierCertificationInfoVO",
                                "$ref": "#/definitions/SupplierCertificationInfoVO"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-certification-infos/certification-status": {
            "put": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u7ba1\u7406-\u4f9b\u5e94\u8ba4\u8bc1\u4fe1\u606f\uff08\u738b\u536b\uff09"
                ],
                "summary": "\u63d0\u4ea4\u4f9b\u5e94\u5546\u8d44\u683c\u8ba4\u8bc1",
                "operationId": "submitSupplierCertificationInfoUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-contact-info": {
            "get": {
                "tags": [
                    "supplier-contact-info-controller"
                ],
                "summary": "\u901a\u8fc7id\u67e5\u8be2\u4f9b\u5e94\u5546\u8054\u7cfb\u65b9\u5f0f",
                "operationId": "getSupplierContactInfoBySupplierIdUsingGET_1",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abList\u00abSupplierContactInfoDTO\u00bb\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abList\u00abSupplierContactInfoDTO\u00bb\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "supplier-contact-info-controller"
                ],
                "summary": "\u65b0\u589e\u4f9b\u5e94\u5546\u8054\u7cfb\u65b9\u5f0f",
                "operationId": "createUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "contactInfoVO",
                        "description": "contactInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierContactInfoVO",
                            "$ref": "#/definitions/SupplierContactInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00ablong\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00ablong\u00bb"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "supplier-contact-info-controller"
                ],
                "summary": "\u66f4\u65b0\u4f9b\u5e94\u5546\u8054\u7cfb\u65b9\u5f0f",
                "operationId": "updateUsingPUT_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "contactInfoVO",
                        "description": "contactInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierContactInfoVO",
                            "$ref": "#/definitions/SupplierContactInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-device-desc-info/list": {
            "get": {
                "tags": [
                    "\u8bbe\u5907\u53c2\u6570\u8868"
                ],
                "summary": "\u67e5\u8be2\u6240\u6709\u8bbe\u5907\u53c2\u6570",
                "description": "\u67e5\u8be2\u6240\u6709\u8bbe\u5907\u53c2\u6570",
                "operationId": "querySupplierDeviceDescInfoMapUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-device-info/{id}": {
            "get": {
                "tags": [
                    "\u8bbe\u5907\u8868"
                ],
                "summary": "\u901a\u8fc7id\u67e5\u8be2",
                "description": "\u901a\u8fc7id\u67e5\u8be2",
                "operationId": "queryUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "\u8bbe\u5907\u8868"
                ],
                "summary": "delete",
                "operationId": "deleteUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-invoice-information": {
            "get": {
                "tags": [
                    "supplier-invoice-information-controller"
                ],
                "summary": "\u901a\u8fc7id\u67e5\u8be2\u4f9b\u5e94\u5546\u53d1\u7968\u4fe1\u606f",
                "operationId": "getSupplierInvoiceInfoBySupplierIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSupplierInvoiceInformationDTO\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abSupplierInvoiceInformationDTO\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "supplier-invoice-information-controller"
                ],
                "summary": "\u65b0\u589e\u4f9b\u5e94\u5546\u53d1\u7968\u4fe1\u606f",
                "operationId": "createUsingPOST_3",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "invoiceInformationVO",
                        "description": "invoiceInformationVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierInvoiceInformationVO",
                            "$ref": "#/definitions/SupplierInvoiceInformationVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "supplier-invoice-information-controller"
                ],
                "summary": "\u4fee\u6539\u4f9b\u5e94\u5546\u53d1\u7968\u4fe1\u606f",
                "operationId": "updateUsingPUT_3",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "invoiceInformationVO",
                        "description": "invoiceInformationVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierInvoiceInformationVO",
                            "$ref": "#/definitions/SupplierInvoiceInformationVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier-invoice-information/check-status": {
            "put": {
                "tags": [
                    "supplier-invoice-information-controller"
                ],
                "summary": "\u901a\u8fc7\u4f9b\u5e94\u5546id\u63d0\u4ea4\u5ba1\u6838\u4f9b\u5e94\u5546\u53d1\u7968",
                "operationId": "submitSupplierInvoiceInfoAuthUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authenticationStatus",
                        "in": "query",
                        "description": "authenticationStatus",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "NOT_APPLY",
                            "NOT_DEL",
                            "CHECKING",
                            "CHECKING_DEL",
                            "CHECK_PASSED",
                            "ON_CHECKED"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/check-submit": {
            "get": {
                "tags": [
                    "\u4f9b\u5e94\u5546"
                ],
                "summary": "\u67e5\u8be2\u662f\u5426\u9700\u8981\u663e\u793a\u63d0\u4ea4\u5ba1\u6838\u6309\u94ae",
                "operationId": "checkSubmitUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "supplierCertificationType",
                        "in": "query",
                        "description": "supplierCertificationType",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "GENERAL_MODULE",
                            "INVOICE_INFORMATION",
                            "BASE_INFO",
                            "SPECIALITY",
                            "QUALIFICATION",
                            "EQUIPMENT"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/supplier-device-info": {
            "get": {
                "tags": [
                    "\u8bbe\u5907\u8868"
                ],
                "summary": "\u5206\u9875\u67e5\u8be2",
                "description": "\u5206\u9875\u67e5\u8be2",
                "operationId": "queryPageListUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "all",
                        "in": "query",
                        "description": "\u5f53\u524d\u9875 \u662f\u5426\u67e5\u8be2\u6240\u6709: false-\u5206\u9875<\u9ed8\u8ba4>, true-\u4e0d\u5206\u9875",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "asc",
                        "in": "query",
                        "description": "\u6392\u5e8f\u65b9\u5411 <\u9ed8\u8ba4\u964d\u5e8f\u6392\u5e8f: false>",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "brandName",
                        "in": "query",
                        "description": "\u54c1\u724c\u540d\u79f0",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceModel",
                        "in": "query",
                        "description": "\u8bbe\u5907\u578b\u53f7",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceName",
                        "in": "query",
                        "description": "\u8bbe\u5907\u540d\u79f0",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceParentType",
                        "in": "query",
                        "description": "\u8bbe\u5907\u7684\u5927\u7c7b\u578b,\u68c0\u6d4b\u8bbe\u5907\u8fd8\u662f\u52a0\u5de5\u8bbe\u5907",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deviceType",
                        "in": "query",
                        "description": "\u8bbe\u5907\u7c7b\u578b",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceTypeName",
                        "in": "query",
                        "description": "\u8bbe\u5907\u7c7b\u578b\u540d\u79f0",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "formalData",
                        "in": "query",
                        "description": "\u662f\u5426\u662f\u4e34\u65f6\u6570\u636e",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "groupBy",
                        "in": "query",
                        "description": "\u5206\u7ec4",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "\u6392\u5e8f\u5b57\u6bb5 <\u9ed8\u8ba4\u6392\u5e8f\u5b57\u6bb5: id>",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "\u5f53\u524d\u9875<\u9ed8\u8ba4\u7b2c1\u9875>",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "description": "\u6bcf\u9875\u663e\u793a\u6761\u6570<\u9ed8\u8ba410\u6761>",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "\u8bbe\u5907\u8868"
                ],
                "summary": "\u6dfb\u52a0",
                "description": "\u6dfb\u52a0",
                "operationId": "createUsingPOST_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "supplierDeviceInfoVO",
                        "description": "supplierDeviceInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierDeviceInfoVO",
                            "$ref": "#/definitions/SupplierDeviceInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "\u8bbe\u5907\u8868"
                ],
                "summary": "\u7f16\u8f91",
                "description": "\u7f16\u8f91",
                "operationId": "updateUsingPUT_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "supplierDeviceInfoVO",
                        "description": "supplierDeviceInfoVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierDeviceInfoVO",
                            "$ref": "#/definitions/SupplierDeviceInfoVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/supplier-device-info/device-status": {
            "put": {
                "tags": [
                    "\u8bbe\u5907\u8868"
                ],
                "summary": "\u6279\u91cf\u63d0\u4ea4\u8bbe\u5907\u8ba4\u8bc1\uff08\u6279\u91cf\uff09",
                "description": "\u6279\u91cf\u63d0\u4ea4\u8bbe\u5907\u8ba4\u8bc1\uff08\u6279\u91cf\uff09",
                "operationId": "submitDeviceInfoAuthBatchUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deviceStatus",
                        "in": "query",
                        "description": "deviceStatus",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "NOT_APPLY",
                            "NOT_DEL",
                            "CHECKING",
                            "CHECKING_DEL",
                            "CHECK_PASSED",
                            "ON_CHECKED"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/supplier-device-info/update-idle-device-number": {
            "post": {
                "tags": [
                    "\u8bbe\u5907\u8868"
                ],
                "summary": "\u66f4\u65b0\u4fee\u6539\u95f2\u6742\u6570\u91cf",
                "description": "\u66f4\u65b0\u4fee\u6539\u95f2\u6742\u6570\u91cf",
                "operationId": "updateIdleDeviceNumberUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "idleDeviceNumber",
                        "in": "query",
                        "description": "idleDeviceNumber",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/supplier-machinable-relation": {
            "post": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b\u5173\u7cfb\u8868"
                ],
                "summary": "\u6dfb\u52a0\u6216\u8005\u4fee\u6539",
                "description": "\u6dfb\u52a0\u6216\u8005\u4fee\u6539",
                "operationId": "saveOrUpdateUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "attributesType",
                        "in": "query",
                        "description": "attributesType",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "RCL",
                            "BMCL",
                            "JGGY",
                            "KJGCL"
                        ]
                    },
                    {
                        "in": "body",
                        "name": "supplierMachinableRelationVOList",
                        "description": "supplierMachinableRelationVOList",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "originalRef": "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b\u5173\u7cfb",
                                "$ref": "#/definitions/\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b\u5173\u7cfb"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/supplier-operation-log": {
            "get": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u65e5\u5fd7"
                ],
                "summary": "\u4f9b\u5e94\u5546\u65e5\u5fd7\u5206\u9875\u67e5\u8be2:\u4f9b\u5e94\u5546\u65e5\u5fd7\u5206\u9875\u67e5\u8be2",
                "operationId": "queryPageListUsingGET_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "all",
                        "in": "query",
                        "description": "\u5f53\u524d\u9875 \u662f\u5426\u67e5\u8be2\u6240\u6709: false-\u5206\u9875<\u9ed8\u8ba4>, true-\u4e0d\u5206\u9875",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "asc",
                        "in": "query",
                        "description": "\u6392\u5e8f\u65b9\u5411 <\u9ed8\u8ba4\u964d\u5e8f\u6392\u5e8f: false>",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "businessType",
                        "in": "query",
                        "description": "\u4f9b\u5e94\u5546\u8d44\u6599\u6a21\u5757",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "GENERAL_MODULE",
                            "BASE_INFO",
                            "INVOICE_INFORMATION",
                            "SPECIALITY",
                            "QUALIFICATION",
                            "EQUIPMENT"
                        ]
                    },
                    {
                        "name": "groupBy",
                        "in": "query",
                        "description": "\u5206\u7ec4",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "logType",
                        "in": "query",
                        "description": "\u65e5\u5fd7\u7c7b\u578b",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "CERTIFICATION_LOG"
                        ]
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "\u6392\u5e8f\u5b57\u6bb5 <\u9ed8\u8ba4\u6392\u5e8f\u5b57\u6bb5: id>",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "\u5f53\u524d\u9875<\u9ed8\u8ba4\u7b2c1\u9875>",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "description": "\u6bcf\u9875\u663e\u793a\u6761\u6570<\u9ed8\u8ba410\u6761>",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/supplier-processing-capacity": {
            "get": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b"
                ],
                "summary": "\u6839\u636e\u4f9b\u5e94\u5546id \u67e5\u8be2\u52a0\u5de5\u80fd\u529b",
                "description": "\u6839\u636e\u4f9b\u5e94\u5546id \u67e5\u8be2\u52a0\u5de5\u80fd\u529b",
                "operationId": "loadSupplierProcessingCapacityUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b"
                ],
                "summary": "\u6dfb\u52a0",
                "description": "\u6dfb\u52a0",
                "operationId": "createUsingPOST_4",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "supplierProcessingCapacityVO",
                        "description": "supplierProcessingCapacityVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierProcessingCapacityVO",
                            "$ref": "#/definitions/SupplierProcessingCapacityVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b"
                ],
                "summary": "\u4fee\u6539",
                "description": "\u4fee\u6539",
                "operationId": "updateUsingPUT_4",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "supplierProcessingCapacityVO",
                        "description": "supplierProcessingCapacityVO",
                        "required": true,
                        "schema": {
                            "originalRef": "SupplierProcessingCapacityVO",
                            "$ref": "#/definitions/SupplierProcessingCapacityVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/supplier/supplier-processing-capacity/auth-procession-status": {
            "put": {
                "tags": [
                    "\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b"
                ],
                "summary": "\u63d0\u4ea4\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b\u8ba4\u8bc1",
                "description": "\u63d0\u4ea4\u4f9b\u5e94\u5546\u52a0\u5de5\u80fd\u529b\u8ba4\u8bc1",
                "operationId": "submitSupplierCapabilityAuthUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "X-Authorization",
                        "in": "header",
                        "description": "\u767b\u5f55token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "authProcessionStatus",
                        "in": "query",
                        "description": "authProcessionStatus",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "NOT_APPLY",
                            "NOT_DEL",
                            "CHECKING",
                            "CHECKING_DEL",
                            "CHECK_PASSED",
                            "ON_CHECKED"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "originalRef": "\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb",
                            "$ref": "#/definitions/\u63a5\u53e3\u8fd4\u56de\u5bf9\u8c61\u00abobject\u00bb"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "DictItemTreeStructureDTO": {
            "type": "object",
            "properties": {
                "businessType": {
                    "type": "string"
                },
                "childDictItemTree": {
                    "type": "array",
                    "items": {
                        "originalRef": "DictItemTreeStructureDTO",
                        "$ref": "#/definitions/DictItemTreeStructureDTO"
                    }
                },
                "code": {
                    "type": "string"
                },
                "defaultOptions": {
                    "type": "boolean"
                },
                "deleteStatus": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "level": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "orderNumber": {
                    "type": "integer",
                    "format": "int32"
                },
                "parentId": {
                    "type": "integer",
                    "format": "int64"
                },
                "remark": {
                    "type": "string"
                },
                "required": {
                    "type": "boolean"
                },
                "value": {
                    "type": "object"
                }
            },
            "title": "DictItemTreeStructureDTO"
        },
        "SmAddressInfoDTO": {
            "type": "object",
            "properties": {
                "city": {
                    "type": "string"
                },
                "contactInfo": {
                    "type": "string"
                },
                "county": {
                    "type": "string"
                },
                "defaultAddr": {
                    "type": "boolean"
                },
                "detailAddress": {
                    "type": "string"
                },
                "fullAddress": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "ownerType": {
                    "type": "string",
                    "enum": [
                        "CUSTOMER",
                        "SOGAA",
                        "SUPPLIER"
                    ]
                },
                "postcode": {
                    "type": "string"
                },
                "province": {
                    "type": "string"
                },
                "recipient": {
                    "type": "string"
                },
                "relationId": {
                    "type": "integer",
                    "format": "int64"
                },
                "street": {
                    "type": "string"
                }
            },
            "title": "SmAddressInfoDTO"
        },
        "SmAddressInfoVO": {
            "type": "object",
            "required": [
                "contactInfo",
                "ownerType",
                "postcode",
                "recipient"
            ],
            "properties": {
                "city": {
                    "type": "string",
                    "description": "\u5e02"
                },
                "contactInfo": {
                    "type": "string",
                    "description": "\u8054\u7cfb\u65b9\u5f0f"
                },
                "county": {
                    "type": "string",
                    "description": "\u53bf"
                },
                "detailAddress": {
                    "type": "string",
                    "description": "\u8be6\u7ec6\u5730\u5740"
                },
                "fullAddress": {
                    "type": "string",
                    "description": "\u5168\u5730\u5740\uff08\u7528\u4e8e\u663e\u793a\uff09"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "ownerType": {
                    "type": "string",
                    "description": "\u6536\u8d27\u5730\u5740\u7c7b\u578b"
                },
                "postcode": {
                    "type": "string",
                    "description": "\u90ae\u7f16"
                },
                "province": {
                    "type": "string",
                    "description": "\u7701"
                },
                "recipient": {
                    "type": "string",
                    "description": "\u6536\u8d27\u5730\u5740\u7c7b\u578b"
                },
                "relationId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u62e5\u6709\u8005id"
                },
                "street": {
                    "type": "string",
                    "description": "\u8857\u9053"
                }
            },
            "title": "SmAddressInfoVO"
        },
        "SupplierBaseInfoDTO": {
            "type": "object",
            "properties": {
                "acceptOrder": {
                    "type": "boolean"
                },
                "annualTurnover": {
                    "type": "string"
                },
                "businessModel": {
                    "type": "string"
                },
                "businessRegistrationNumber": {
                    "type": "string"
                },
                "checkStatus": {
                    "type": "string",
                    "enum": [
                        "NOT_APPLY",
                        "NOT_DEL",
                        "CHECKING",
                        "CHECKING_DEL",
                        "CHECK_PASSED",
                        "ON_CHECKED"
                    ]
                },
                "city": {
                    "type": "string"
                },
                "companyIntroduction": {
                    "type": "string"
                },
                "county": {
                    "type": "string"
                },
                "employnum": {
                    "type": "integer",
                    "format": "int32"
                },
                "enterpriseType": {
                    "type": "string"
                },
                "establishingTime": {
                    "type": "string",
                    "format": "date"
                },
                "exclPurchase": {
                    "type": "integer",
                    "format": "int64"
                },
                "factoryArea": {
                    "type": "number"
                },
                "feature": {
                    "type": "string"
                },
                "formalData": {
                    "type": "boolean"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "importAndExportRight": {
                    "type": "boolean"
                },
                "legalRepresentative": {
                    "type": "string"
                },
                "logoImage": {
                    "type": "string"
                },
                "mainCustomer": {
                    "type": "string"
                },
                "mainSalesArea": {
                    "type": "string"
                },
                "majorCustomerIndustries": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "noPassReason": {
                    "type": "string"
                },
                "operIdcardNo": {
                    "type": "string"
                },
                "processingWay": {
                    "type": "string"
                },
                "province": {
                    "type": "string"
                },
                "registeredAddress": {
                    "type": "string"
                },
                "registeredCapital": {
                    "type": "string"
                },
                "registeredCapitalUnit": {
                    "type": "string"
                },
                "secondAuth": {
                    "type": "boolean"
                },
                "shortName": {
                    "type": "string"
                },
                "supplierId": {
                    "type": "integer",
                    "format": "int64"
                },
                "taxpayerIdentificationNumber": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "webSite": {
                    "type": "string"
                }
            },
            "title": "SupplierBaseInfoDTO"
        },
        "SupplierBaseInfoVO": {
            "type": "object",
            "required": [
                "acceptOrder",
                "businessRegistrationNumber",
                "employnum",
                "enterpriseType",
                "establishingTime",
                "factoryArea",
                "importAndExportRight",
                "legalRepresentative",
                "name",
                "operIdcardNo",
                "registeredAddress",
                "registeredCapital",
                "registeredCapitalUnit",
                "shortName",
                "taxpayerIdentificationNumber",
                "type"
            ],
            "properties": {
                "acceptOrder": {
                    "type": "boolean",
                    "description": "\u63a5\u5355 false \u63a5\u5355 true \u4e0d\u63a5\u5355"
                },
                "annualTurnover": {
                    "type": "string",
                    "description": "\u5e74\u6700\u5927\u8425\u4e1a\u989d"
                },
                "businessModel": {
                    "type": "string",
                    "description": "\u7ecf\u8425\u6a21\u5f0f\u9009\u9879\u6709\u5de5\u5382\u3001\u8d38\u6613\u5546\u3001\u5de5\u8d38\u7ed3\u5408"
                },
                "businessRegistrationNumber": {
                    "type": "string",
                    "description": "\u5de5\u5546\u6ce8\u518c\u53f7"
                },
                "city": {
                    "type": "string",
                    "description": "\u57ce\u5e02"
                },
                "companyIntroduction": {
                    "type": "string",
                    "description": "\u516c\u53f8\u7b80\u4ecb"
                },
                "county": {
                    "type": "string",
                    "description": "\u56fd\u5bb6"
                },
                "employnum": {
                    "type": "integer",
                    "format": "int32",
                    "description": "\u5458\u5de5\u4eba\u6570"
                },
                "enterpriseType": {
                    "type": "string",
                    "description": "\u4f01\u4e1a\u7c7b\u578b"
                },
                "establishingTime": {
                    "type": "string",
                    "format": "date",
                    "description": "\u516c\u53f8\u6210\u7acb\u65f6\u95f4"
                },
                "exclPurchase": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u4e13\u5c5e\u91c7\u8d2d"
                },
                "factoryArea": {
                    "type": "number",
                    "description": "\u5382\u623f\u9762\u79ef"
                },
                "feature": {
                    "type": "string",
                    "description": "\u4f9b\u5e94\u5546\u7279\u5f81 \u672a\u786e\u5b9a\u7684\u5b57\u6bb5"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "importAndExportRight": {
                    "type": "boolean",
                    "description": "\u662f\u5426\u6709\u8fdb\u51fa\u53e3\u6743"
                },
                "legalRepresentative": {
                    "type": "string",
                    "description": "\u4f01\u4e1a\u7c7b\u578b"
                },
                "logoImage": {
                    "type": "string",
                    "description": "\u516c\u53f8logo"
                },
                "mainCustomer": {
                    "type": "string",
                    "description": "\u4e3b\u8981\u5ba2\u6237"
                },
                "mainSalesArea": {
                    "type": "string",
                    "description": "\u4e3b\u8981\u9500\u552e\u533a\u57df"
                },
                "majorCustomerIndustries": {
                    "type": "string",
                    "description": "\u4e3b\u8981\u5ba2\u6237\u884c\u4e1a"
                },
                "name": {
                    "type": "string",
                    "description": "\u4f9b\u5e94\u5546\u540d\u79f0"
                },
                "operIdcardNo": {
                    "type": "string",
                    "description": "\u4f01\u4e1a\u6cd5\u4eba\u8eab\u4efd\u8bc1"
                },
                "processingWay": {
                    "type": "string",
                    "description": "\u52a0\u5de5\u65b9\u5f0f"
                },
                "province": {
                    "type": "string",
                    "description": "\u7701"
                },
                "registeredAddress": {
                    "type": "string",
                    "description": "\u6ce8\u518c\u5730\u5740"
                },
                "registeredCapital": {
                    "type": "string",
                    "description": "\u6ce8\u518c\u8d44\u672c"
                },
                "registeredCapitalUnit": {
                    "type": "string",
                    "description": "\u6ce8\u518c\u8d44\u91d1\u5355\u4f4d"
                },
                "shortName": {
                    "type": "string",
                    "description": "\u4f9b\u5e94\u5546\u7f29\u5199"
                },
                "taxpayerIdentificationNumber": {
                    "type": "string",
                    "description": "\u7eb3\u7a0e\u4eba\u8bc6\u522b\u53f7"
                },
                "type": {
                    "type": "string",
                    "description": "\u4f9b\u5e94\u5546\u7c7b\u578b"
                },
                "webSite": {
                    "type": "string",
                    "description": "\u7f51\u7ad9"
                }
            },
            "title": "SupplierBaseInfoVO"
        },
        "SupplierCertificationFileVO": {
            "type": "object",
            "properties": {
                "certificationId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u8ba4\u8bc1\u9879\u76eeid \u65b0\u589e\u4e0d\u4f20\uff0c\u4fee\u6539\u5fc5\u987b\u4f20"
                },
                "fileId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u6587\u4ef6\u540d\u79f0"
                },
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u6587\u4ef6id \u65b0\u589e\u4e0d\u4f20\uff0c\u4fee\u6539\u5fc5\u987b\u4f20"
                },
                "orderNumber": {
                    "type": "integer",
                    "format": "int32",
                    "description": "\u987a\u5e8f"
                }
            },
            "title": "SupplierCertificationFileVO"
        },
        "SupplierCertificationInfoVO": {
            "type": "object",
            "properties": {
                "expiredDate": {
                    "type": "string",
                    "format": "date",
                    "description": "\u8bc1\u4ef6\u6709\u6548\u671f yyyy-MM-dd"
                },
                "fileVOList": {
                    "type": "array",
                    "description": "\u5bf9\u5e94\u6587\u4ef6\u4fe1\u606f list",
                    "items": {
                        "originalRef": "SupplierCertificationFileVO",
                        "$ref": "#/definitions/SupplierCertificationFileVO"
                    }
                },
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u4f9b\u5e94\u5546\u8d44\u8d28\u8ba4\u8bc1id \u65b0\u589e\u4e0d\u4f20\uff0c\u4fee\u6539\u5fc5\u987b\u4f20"
                },
                "level": {
                    "type": "integer",
                    "format": "int32",
                    "description": "\u5f53\u524d\u8282\u70b9\u7b49\u7ea7"
                },
                "parentId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u5f53\u524d\u7236\u8282\u70b9id"
                },
                "treeId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "\u5f53\u524d\u8282\u70b9id"
                },
                "treeName": {
                    "type": "string",
                    "description": "\u5f53\u524d\u8282\u70b9\u540d\u79f0"
                }
            },
            "title": "SupplierCertificationInfoVO"
        },
        "SupplierContactInfoDTO": {
            "type": "object",
            "properties": {
                "contactPerson": {
                    "type": "string"
                },
                "createBy": {
                    "type": "integer",
                    "format": "int64"
                },
                "email": {
                    "type": "string"
                },
                "fax": {
                    "type": "string"
                },
                "gmtCreate": {
                    "type": "string",
                    "format": "date-time"
                },
                "gmtModified": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "phone": {
                    "type": "string"
                },
                "post": {
                    "originalRef": "SupplierContactPostTypeEnum",
                    "$ref": "#/definitions/SupplierContactPostTypeEnum"
                },
                "qq": {
                    "type": "string"
                },
                "supplierId": {
                    "type": "integer",
                    "format": "int64"
                },
                "telephone": {
                    "type": "string"
                },
                "updateBy": {
                    "type": "integer",
                    "format": "int64"
                },
                "weixin": {
                    "type": "string"
                }
            },
            "title": "SupplierContactInfoDTO"
        },
        "SupplierContactInfoVO": {
            "type": "object",
            "required": [
                "contactPerson",
                "email",
                "phone",
                "post",
                "qq",
                "weixin"
            ],
            "properties": {
                "contactPerson": {
                    "type": "string",
                    "description": "\u8054\u7cfb\u4eba"
                },
                "email": {
                    "type": "string",
                    "description": "\u90ae\u7bb1"
                },
                "fax": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "phone": {
                    "type": "string",
                    "description": "\u8054\u7cfb\u7535\u8bdd"
                },
                "post": {
                    "description": "\u804c\u4f4d",
                    "originalRef": "SupplierContactPostTypeEnum",
                    "$ref": "#/definitions/SupplierContactPostTypeEnum"
                },
                "qq": {
                    "type": "string",
                    "description": "QQ"
                },
                "telephone": {
                    "type": "string"
                },
                "weixin": {
                    "type": "string",
                    "description": "\u5fae\u4fe1"
                }
            },
            "title": "SupplierContactInfoVO"
        },
        "SupplierContactPostTypeEnum": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "desc": {
                    "type": "string"
                }
            },
            "title": "SupplierContactPostTypeEnum"
        },
        "SupplierDTO": {
            "type": "object",
            "properties": {
                "baseAuthStatus": {
                    "type": "string",
                    "enum": [
                        "AUTHENTICATION_FAILS",
                        "UN_AUTHENTICATED",
                        "TO_BE_AUTHENTICATE",
                        "TO_BE_TWO_AUTHENTICATE",
                        "TRY_OUT",
                        "AUTHENTICATED"
                    ]
                },
                "capabilityAuthStatus": {
                    "type": "string",
                    "enum": [
                        "AUTHENTICATION_FAILS",
                        "UN_AUTHENTICATED",
                        "TO_BE_AUTHENTICATE",
                        "TO_BE_TWO_AUTHENTICATE",
                        "TRY_OUT",
                        "AUTHENTICATED"
                    ]
                },
                "credentialAuthStatus": {
                    "type": "string",
                    "enum": [
                        "AUTHENTICATION_FAILS",
                        "UN_AUTHENTICATED",
                        "TO_BE_AUTHENTICATE",
                        "TO_BE_TWO_AUTHENTICATE",
                        "TRY_OUT",
                        "AUTHENTICATED"
                    ]
                },
                "equipmentAuthStatus": {
                    "type": "string",
                    "enum": [
                        "AUTHENTICATION_FAILS",
                        "UN_AUTHENTICATED",
                        "TO_BE_AUTHENTICATE",
                        "TO_BE_TWO_AUTHENTICATE",
                        "TRY_OUT",
                        "AUTHENTICATED"
                    ]
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "invoiceAuthStatus": {
                    "type": "string",
                    "enum": [
                        "AUTHENTICATION_FAILS",
                        "UN_AUTHENTICATED",
                        "TO_BE_AUTHENTICATE",
                        "TO_BE_TWO_AUTHENTICATE",
                        "TRY_OUT",
                        "AUTHENTICATED"
                    ]
                },
                "noPassReason": {
                    "type": "string"
                },
                "snumber": {
                    "type": "string"
                },
                "supplierAuthStatus": {
                    "type": "string",
                    "enum": [
                        "AUTHENTICATION_FAILS",
                        "UN_AUTHENTICATED",
                        "TO_BE_AUTHENTICATE",
                        "TO_BE_TWO_AUTHENTICATE",
                        "TRY_OUT",
                        "AUTHENTICATED"
                    ]
                }
            },
            "title": "SupplierDTO"
        },
        "SupplierDeviceInfoVO": {
            "type": "object",
            "properties": {
                "brandName": {
                    "type": "string",
                    "description": "\u54c1\u724c\u540d\u79f0"
                },
                "buyTime": {
                    "type": "string",
                    "description": "\u8d2d\u4e70\u5e74\u4efd"
                },
                "deviceAttributesVOList": {
                    "type": "array",
                    "items": {
                        "originalRef": "\u4f9b\u5e94\u5546\u8bbe\u5907\u5c5e\u6027\u53c2\u6570",
                        "$ref": "#/definitions/\u4f9b\u5e94\u5546\u8bbe\u5907\u5c5e\u6027\u53c2\u6570"
                    }
                },
                "deviceModel": {
                    "type": "string",
                    "description": "\u8bbe\u5907\u578b\u53f7"
                },
                "deviceName": {
                    "type": "string",
                    "description": "\u8bbe\u5907\u540d\u79f0"
                },
                "deviceNumber": {
                    "type": "integer",
                    "format": "int32",
                    "description": "\u8bbe\u5907\u6570\u91cf"
                },
                "deviceParentType": {
                    "type": "string",
                    "description": "\u8bbe\u5907\u7684\u5927\u7c7b\u578b"
                },
                "deviceType": {
                    "type": "string",
                    "description": "\u8bbe\u5907\u7c7b\u578b"
                },
                "deviceTypeName": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
[...]
