<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            text-decoration: none;
            color: #ff7489;
        }
    </style>
</head>
<body>
    <div style="background-color: #e8f5f0;width: 80%;margin-right: 10%;
                box-shadow: 4px 4px 4px 10px grey;border-radius: 5px;
                padding-left: 10px; padding-bottom: 10px">
        <h2>常用超链接：<input id="search_in" oninput="searach()" type="text" style="width: 300px;text-align: center" placeholder="请输入查询关键字"></h2>
        <a target="_blank" href="https://www.baidu.com">某度</a>
        <a target="_blank" href="/abc/def">内部某页面</a>
    </div>

<script>
    function searach(){
        var s = document.getElementById("search_in").value;
        console.log(s);
    }

</script>


</body>
</html>